.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #fff;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
  }
  
  .close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  